<div class="admins-control">
    <div class="page-control">
        <div class="page-control-header">
            <div class="control-header-name">Quản lý quản trị viên</div>
            <a class="control-header-create" href="/admin/admins/create">
                <i class="fas fa-plus-circle"></i>
                Tạo mới quản trị viên
                </a>
        </div>
        <div class="page-control-body">
            <form class="form-submit-action form-submit-admin" method="POST" action="/admin/admins/form-submit-action">
                <div class="page-control-features">
                    <div class="check-all">
                        <div class="check-all-item check-all-checkbox">
                            <input class="check-all-input check-all-admin" type="checkbox" onchange="CheckAll(this,'admin-check-item','check-select-actions','check-submit-admin');">
                            <label class="check-all-lable" for="check-all">Chọn tất cả</label>
                        </div>
                        <select class="check-all-item check-select-actions" name="action" required onchange="CheckSelectAction('admin-check-item','check-select-actions','check-submit-admin');">
                            <option value="">-- Chọn hành động --</option>
                            <option value="delete">Xóa</option>
                            <option value="edit">Sửa</option>
                        </select>
                        <button class="check-all-item check-all-btn check-submit-admin disabled" type="submit" disabled onclick="DeleteByCheck('form-submit-admin','check-select-actions','admin-check-item');" >Thực hiện</button>
                    </div>
                    <div class="page-control-search">
                        <input type="text" name="searchonpage" placeholder="Tìm kiếm" onkeyup="SearchOnPage();">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <table class="data-table">
                    <thead >
                        <tr>
                            <th>Chọn</th>
                            <th>STT</th>
                            <th>TÊN TRUY CẬP</th>
                            <th>TÊN ĐẦY ĐỦ</th>
                            <th>NGÀY TẠO</th>
                            <th>TRẠNG THÁI</th>
                            <th>HÀNH ĐỘNG</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each AdminItem}}
                        <tr>    
                            <td>
                                <input class="admin-check-item" name="checkItem" value ="{{this._id}}" type="checkbox" onclick="CompareToCheck('check-all-admin','admin-check-item','check-select-actions','check-submit-admin');">
                            </td>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.adminname}}</td>
                            <td></td>
                            <td>{{formatDate this.createdAt}}</td>
                            <td>
                                {{#if this.status}}                           
                                    <span style="background-color:#28a745;padding:3px 10px;color:#fff;border-radius:3px;">Active</span>
                                {{else}}
                                    <span style="background-color:rgb(196,46,46);padding:3px 10px;color:#fff;border-radius:3px;">UnAtive</span>
                                {{/if}}
                                
                            </td>
                            <td>
                                <a href="/admin/admins/edit/{{this._id}}" class="page-action-link page-action-edit" alt="Chỉnh sửa danh mục">
                                    <i class="fas fa-pen"></i>
                                    Sửa
                                </a>
                                <a href="/admin/admins/delete/{{this._id}}" onclick=" DeleteDataItem(this,'categories');" class="page-action-link page-action-delete" idItem ="{{this._id}}" alt="Xóa danh mục">
                                    <i class="fas fa-trash-alt"></i>
                                    Xóa
                                </a>                      
                            </td>
                        </tr>
                        {{else}}
                        <tr style="border-bottom:0;">
                            <td colspan="7" style="padding-top:50px;border:0;">
                                Quản trị viên trống.
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>