<div class="edit-order">
    <div class="page-edit">
        <div class="page-edit-header">
            <div class="edit-header-name">Xem đơn hàng</div>
            <a class="edit-header-back" href="/admin/orders">
                <i class="fas fa-arrow-circle-left"></i>
                Trở về
            </a>
        </div>
        <div class="page-edit-body">
            <div class="page-edit-error">{{erredit}}</div>
            <form method="POST" action="" class="form-edit">
                <div class="form-edit-group">
                    <div class="form-edit-name" for="productcateory">Chọn danh mục:</div>
                    <div class="form-edit-body">
                        <select class="form-edit-input form-edit-select select-category" name="productcategory">
                            <option value="{{OrderItem.productcategory}}">{{OrderItem.productcategory}}</option>
                            {{#each CategoryItem}}
                                <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <div class="form-edit-error"></div>
                    </div>                    
                </div> 
                <div class="form-edit-group">
                    <div class="form-edit-name" for="productname">Chọn sản phẩm:</div>
                    <div class="form-edit-body">
                        <select class="form-edit-input form-edit-select select-product" name="productname">
                            <option value="{{OrderItem.productname}}">{{OrderItem.productname}}</option>
                            {{#each ProductItem}}
                                <option value="{{sumArr this.name this.productprice}}">
                                    <div class="name">{{this.name}}</div> |
                                    <div class="productprice" style="color:red;">{{formatmoney this.productprice}}</div>
                                </option>
                            {{/each}}
                        </select>
                        <div class="form-edit-error"></div>
                    </div>                    
                </div>   
                <div class="form-edit-group">
                    <div class="form-edit-name" for="customer">Tên khách hàng:</div>
                    <div class="form-edit-body">
                        <input class="form-edit-input" type="text" name="customer" value="{{OrderItem.customer}}" readonly >
                        <div class="form-edit-error"></div>
                    </div>
                </div>
                <div class="form-edit-group">
                    <div class="form-edit-name" for="phonenumber">Số điện thoại:</div>
                    <div class="form-edit-body">
                        <input class="form-edit-input" type="text" name="phonenumber" value="{{OrderItem.phonenumber}}" readonly>
                        <div class="form-edit-error"></div>
                    </div>
                </div>
                <div class="form-edit-group">
                    <div class="form-edit-name" for="productnumber">Số lượng:</div>
                    <div class="form-edit-body">
                        <input class="form-edit-input product-number" type="number" name="productnumber"value="{{OrderItem.productnumber}}" readonly>
                        <div class="form-edit-error"></div>
                    </div>
                </div> 
                <div class="form-edit-group" style="display:none;">
                    <div class="form-edit-name"  for="totalprice">Giá sản phẩm:</div>
                    <div class="form-edit-body">
                        <input class="form-edit-input totalprice" type="number" name="totalprice" readonly >
                        <div class="form-edit-error"></div>
                    </div>
                </div>
                <div class="form-edit-group">
                    <div class="form-edit-name">Giá sản phẩm:</div>
                    <div class="form-edit-body">
                        <input class="form-edit-input textprice" type="text" value="{{formatmoney OrderItem.totalprice}}" readonly>
                        <div class="form-edit-error"></div>
                    </div>
                </div>
                {{!-- <button class="form-edit-submit" type="submit">Lưu</button> --}}
            </form>
        </div>
    </div>
</div>
<script>

    function FormatMoney(value){
        value = value.toString()
        return(
          value.split('').reverse().reduce(function(totalValue,nextValue,currentIndex){
            if(currentIndex % 3){
              return nextValue + totalValue
            }
            else{
              return (nextValue + '.') + totalValue
            }
          })) + ' đ'
    }
    
    var SelectCategory = document.querySelector('.select-category')
    var SelectProduct = document.querySelector('.select-product')
    var ProductNumber = document.querySelector('.product-number')
    var ProductPrice = document.querySelector('.productprice')
    var TotalPrice = document.querySelector('.totalprice')
    var FormatTotalPrice = document.querySelector('.textprice')

    ProductNumber.onchange = function(){
        TotalPrice.value = SelectProduct.value.split(',').slice(1) * ProductNumber.value
        FormatTotalPrice.value = FormatMoney(TotalPrice.value)
        //FormatMoney(SelectProduct.value.split(',').slice(1) * ProductNumber.value)
    }
    SelectProduct.onchange = function(){
        TotalPrice.value = SelectProduct.value.split(',').slice(1) * ProductNumber.value
        FormatTotalPrice.value = FormatMoney(TotalPrice.value)
    }
    
</script>